__pycache__

.vscode
.DS_Store
/.idea

/containers/config/
/bin
/rpmbuild
/test/data/manifests
/tools/appsre-ansible/inventory
/build
/check-host-config
dictionary.dic

*~
container_built*.info
github_pr_body.txt

/*.test
