[Unit]
Description=OSBuild Installer service
After=multi-user.target
Requires=osbuild-installer.socket

[Service]
Type=simple
ExecStart=/usr/libexec/osbuild-installer/osbuild-installer
CacheDirectory=osbuild-installer
StateDirectory=osbuild-installer
WorkingDirectory=/usr/libexec/osbuild-installer/
User=_osbuild-composer
Restart=on-failure

[Install]
WantedBy=multi-user.target
